form {
  margin-top: 20px;
}

.panel {
  margin-top: 20px;
}

.panel-info {
  margin-top: 20px;
}

.nav {
  margin-top: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
  padding-bottom: 8px;
}